html {
	background: #EEE8AA;
	margin:0 0 0 -1px;
	padding:0;	
	overflow-Y: scroll;
}


body {
	padding:0;
	margin :0;
	display:table; 
	width:100%;	
}


  
  
body {
	color:black;
	font-family: 'Trebuchet MS', sans-serif ;
	font-size: 13px;
	font-style: normal ;
	font-weight: normal ;
	text-transform: normal;
}




p {
	letter-spacing: normal ;
	line-height: 1.7em ;
}

h1 {
	color:#D2691E;
	font-size:22px ;
	margin:100px 0 10px 0;
	clear:both;
	text-align:center;
}


h2 {
	color:#D2691E;
	font-size:20px ;
	margin:20px 0 50px 0;
	clear:both;
	text-align:center;
}


p {
	color:#f8b133;
	font-size:22px;
	margin:20px 0 5px 0;
	clear:both;
	text-align:center;
}



hr {
	height: 20px;
	background-color: #f8b133;
	outline-color: black;
}


a:link, a:visited {
	color:#D2691E ;
	text-decoration:none;
}


a:hover {
	color:#D2691E;
	text-decoration:underline;
}

ol li {
	color:#f8b133;
	font-size:20px;
	margin:20px 0 40px 0;
	text-align: center;
}


#wrapper {
	background: transparent url() repeat-y scroll 100% 0px ;
	margin:10 auto ;
	
}

  
  
body {
	background-color:#EEE8AA;
}





#bg {
	margin:0 auto;
	padding:0;
	background:transparent ;
	background-image: url() ;
 	background-repeat:no-repeat;	
	background-position: center top ;
}



  
  
#header {
	margin: 0 auto;
	min-height:25px;
	height: 25px;
	width: 800px;
}


#page {
	background: transparent url() center top;
}



  
  

#container {
	margin:0 auto;
	width:800px; 
}


#banner {
	margin: 0 auto;
	height:50px;
	width:100%;
}


  
  





#nav1 {
	height:50px;
	margin:0 auto ;
	width:780px;	
	text-align:center;
}
#nav1 ul {
	display:table;
	margin:0 auto;
	padding:0;
	list-style-type:none;
	position:relative;
	height:50px;
	text-transform:uppercase;
	font-size:12px;
	font-family:Arial,sans-serif;


}


#nav1 ul li {
	display:block;
	float:left;
	margin:0;
	padding:0;
	background:transparent url("") repeat-x top left;
	border-left:1px solid #a64a4a ;

}


#nav1 ul li a {
	display:block;
	float:left;
	color:#D2691E;
	text-decoration:none;
	padding:0px 50px ;
	line-height:50px;
	font-weight:bold;
}


#nav1 ul li a:hover, #nav1 li#current a {
	color:black;
	
}



#content {
	width:780px;
	margin:0 auto ;
	text-align:left;
	min-height:800px;
}


#content p {
	text-align:justify;
}






#footerWrapper {
	margin:0 auto;
	height:130px;
	padding:0;
	background:transparent url( ) no-repeat scroll center top ;
}


#footer {
	margin:0 auto;
	padding:0;
	width:800px;
	height:50px;
}


  
  
#footer {
	color:#FFFFFF;
	text-align:center;
}

#footer a:link, #footer a:visited {
	color:#FFFFFF;
}


#footer a:hover{
	color:#ffb508;
	text-decoration:none;
}


  
  




#right {
	width:200px;
	padding:10px 20px 20px 20px;
	float:left;
}


#center {
	width:500px;	
	padding:10px 20px 20px 20px ;
	float:left;
}

 
#content p {
	margin-top:10px;
	text-align:justify;
}


  
  
  
  

#sidebar ul.vmenu {
	list-style: none;
	text-align: left;
	margin: 7px 0px 8px 0px; 
	padding: 0;
	text-decoration: none;	
	border-top: 1px solid #EEEEEE;	
}


#sidebar ul.vmenu li {
	list-style: none;
	padding: 4px 0 4px 0px;
	margin: 0 2px;	
	border-bottom: 1px solid #EEEEEE;
}



#sidebar ul.vmenu li a {
	text-decoration: none;
	color:#6BB501;
}


#sidebar ul.vmenu li a:hover {
	color:#ffb508;
}


#sidebar ul.vmenu ul { margin: 0 0 0 5px; padding: 0; }
#sidebar ul.vmenu ul li { border: none; }







.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

 
